<h1><%= t('.title') %></h1>

<table class="table">
  <thead>
    <tr>
      <th><%= t('.name') %></th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <%= render @railway_stations %>
  </tbody>
</table>

<br>

<%= link_to t('common.create'), new_admin_railway_station_path %>
<%= link_to t('common.back'), admin_panel_index_path %>
