<h1>Управление на железной дороге</h1>
<ul>
  <li><%= link_to 'Станции', controller: 'railway_stations' %></li>
  <li><%= link_to 'Маршруты', controller: 'routes' %></li>
  <li><%= link_to 'Поезда', controller: 'trains' %></li>
  <li><%= link_to 'Вагоны', controller: 'carriages' %></li>
  <li><%= link_to 'Поиск билетов', search_path %></li>
</ul>
