<h1><%= t('.title')%></h1>

<table>
  <thead>
    <tr>
      <th><%= t('.train')%></th>
      <th><%= t('.departure')%></th>
      <th><%= t('.arrival')%></th>
      <th><%= t('.full_name')%></th>
      <th>email</th>
      <th><th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <%= render @tickets%>
  </tbody>
</table>