<h1><%= t('.title')%></h1>

<p><%= t('.train')%>  <%= @ticket.train.number %> </p>
<p><%= t('.departure')%> <%= "#{@ticket.start_station.name} - #{@ticket.start_station.time(@ticket.train.route, :departure_time)}" %></p>
<p><%= t('.arrival')%> <%= "#{@ticket.end_station.name} - #{@ticket.start_station.time(@ticket.train.route, :arrival_time)}" %></p>

<p><%= t('.full_name')%> <%= @ticket.passenger_name %> </p>
<p><%= t('.passport')%> <%= @ticket.passport_number%> </p>