<%= form_for [:admin, @train, carriage.becomes(Carriage)] do |f| %>
  <%= render 'common/errors', resource: carriage %>
  
  <div class="field">
    <%= f.label :route, "Поезд" %>
    <%= f.collection_select :train_id, Train.all, :id, :number %>
  </div>  

  <div class="field">
    <%= f.label :type, 'Тип' %>
    <%= f.select :type, [['Плацкартный', 'EconomyCarriage'], ['Купейный' ,'CoupeCarriage'], ['СВ', 'LuxeCarriage'], ['Сидячий', 'SittingCarriage']] %>
  </div>

  <div class="field">
    <%= f.label :top_seats, 'Количество верхних мест' %>
    <%= f.number_field :top_seats %>
  </div>

  <div class="field">
    <%= f.label :bottom_seats, 'Количество нижних мест' %>
    <%= f.number_field :bottom_seats %>
  </div>

  <div class="field">
    <%= f.label :side_bottom_seats, 'Количество нижних боковых мест' %>
    <%= f.number_field :side_bottom_seats %>
  </div>

  <div class="field">
    <%= f.label :side_top_seats, 'Количество верхних боковых мест' %>
    <%= f.number_field :side_top_seats %>
  </div>

  <div class="field">
    <%= f.label :sitting_seats, 'Количество сидячих мест' %>
    <%= f.number_field :sitting_seats %>
  </div>    

  <div class="actions">
    <%= f.submit "#{ @carriage.new_record? ? 'Создать' : 'Изменить' }" %>
  </div>
<% end %>