<h1>Управление на железной дороге</h1>
<ul>
  <li><%= link_to 'Станции', admin_railway_stations_path %></li>
  <li><%= link_to 'Маршруты', admin_routes_path %></li>
  <li><%= link_to 'Поезда', admin_trains_path %></li>
  <li><%= link_to 'Список билетов', admin_tickets_path %></li>
  <li><%= link_to 'Создать билет', new_admin_ticket_path %></li>  
</ul>
