<!DOCTYPE html>
<html>
  <head>
    <title>Railway</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p id="notice" class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <% if user_signed_in? %>
      <%= link_to 'Выйти', destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to 'Войти', new_user_session_path %>
    <% end %>

    <%= yield %>

    <footer>
      <p>&copy; 2017 Чумин Николай. Учебный проект в <a href="http://www.thinknetica.com/">онлайн-школе "Thinknetica".</a></p>
    </footer>
  </body>
</html>
